SmartHomeCollector/target
CoAP-network/border-router/build
CoAP-network/light-actuator/build
CoAP-network/light-sensor/build
CoAP-network/humidity-sensor/build
CoAP-network/temperature-actuator/build
CoAP-network/temperature-sensor/build
SmartHomeCollector/Californium3.properties

SmartHomeCollector/Californium.properties
